@font-face {
  font-family: 'Edo';
  src: url('/fonts/edo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  /* ::-webkit-scrollbar {
    display: none; 
  }
  
  -ms-overflow-style: none;
  scrollbar-width: none; 
   */

}

